@margin-left-primary: 20px;
.myMixin(@color){
    background-color:@color;
}
& when (@media-common = true) {  

    h2.title {
        color: blue;
            
    }
    li.nombrealumno{
        margin-left: @margin-left-primary;
    }
    div.botones{
        float: center;
        padding:20px;
    }
    div.suspendido{
        .myMixin(red);
    }
    div.aprobado{
        .myMixin(green);
    }
   div.delosmejores{
       font-size: 20px;
   }
 
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = 768px) {    
    
    h2.title {
        color: red;
    }
    li.impar{
        margin-left: @margin-left-primary;
    }
    div.suspendido{
        .myMixin(red);
    }
    div.aprobado{
        .myMixin(green);
    }

    li.nombrealumno{
        margin-left: @margin-left-primary;
    }
    div.botones{
        float: center;
        padding:20px;
    }
    div.delosmejores{
        font-size: 20px;
    }
   
}