<?php /** @var \Hiberus\ExamenGuajardo\Block\BloqueExamen $block */ ?>
<html>

<body>
 <h2 class="title"> Lista de Alumnos:</h2> 
 <? $misAlumnos=$block->listAlumnos(); ?> 
<div class="botones">
    <button class="notasbutton"><p id="textobutton">Ocultar/Mostrar Notas</p></button> <button class="mejornota">Mejor Nota</button>
</div>
    <?
    $valoresLista=$block->getValues();
    $indiceMejorNota=$valoresLista[0];
    $mediaNotas=$valoresLista[1];
    $tresMejoresAlumnos=$block->get3Notas();
    $i=0;?>
<ul>
   
        <?foreach($misAlumnos as $alumno): ?>     
            <?if(in_array($alumno,$tresMejoresAlumnos)):
            $becados="delosmejores";
            else:;
                $becados="delospeores";
            endif;
            ?>
            <div class="<?=$becados?>">
            <?php $calificacion = ($alumno->getMark()<5) ? "suspendido" : "aprobado";?>
            <div class="<?=$calificacion?>">
                <?php $esPar = ($i%2==0) ? "par" : "impar";?>
                <li class="<?= $esPar?>"><?= $escaper->escapeHtml($alumno->getFirstName())."  ".$escaper->escapeHtml($alumno->getLastName());?></li>
                <?if($i==$indiceMejorNota)://si es la mejor nota?>
                    <li class="notas" id="mejoralumno"><?="Nota-> ".$notaMejorAlumno=$escaper->escapeHtml($alumno->getMark());?></li>
                        <?//guardo variables para el js
                        $nombreMejorAlumno=$escaper->escapeHtml($alumno->getFirstName());
                        $apellidoMejorAlumno=$escaper->escapeHtml($alumno->getLastName());
                        ?>
                        
                <?else:?>
                    <li class="notas"><?="Nota-> ".$escaper->escapeHtml($alumno->getMark());?>  </li>
                <?endif;?>
            </div>
        </div>
            <hr></hr>
            <? $i=$i+1; ?>

        <? endforeach;?>
    
</ul>
<h1><?=__('Total number of students customers: %1',[ count($misAlumnos) ]) ?></h1>
                <h1><?= "Media de la clase: ".$mediaNotas?></h1>
                </body>
<script type="text/x-magento-init">
{
 ".notas": {
 "Hiberus_ExamenGuajardo/js/desaparece-alumno": { }
 },
 "#mejoralumno": {
 "Hiberus_ExamenGuajardo/js/mejor-alumno": {
            "firstName": "<?= $nombreMejorAlumno ?>",
            "lastName": "<?= $apellidoMejorAlumno ?>",
            "mark": "<?= $notaMejorAlumno ?>" }
        }
}
</script>

